:root{
    --base-spacing-unit: 24px;
    --half-spacing-unit: var(--base-spacing-unit) / 2;
    --color-highlight: #f9f9f9;
	--color-highlight-bis: #d3d3d3;
	--color-dark:#1a1a1a;

}
*, *:before, *:after {
	box-sizing:border-box;
    
}

body {
	padding:var(--base-spacing-unit);
	font-family:'Source Sans Pro', sans-serif;
	margin:0;
}

.container {
	max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	
}

.table {
	width:100%;
	border:1px solid var(--color-highlight);
}

.table-header {
	display:flex;
	width:100%;
	background:var(--color-dark);
	padding:(var(--half-spacing-unit) * 1.5) 0;
	color: var(--color-highlight);

}

.table-row {
	display:flex;
	width:100%;
	padding:(var(--half-spacing-unit) * 1.5) 0;
	
}
.table-row:nth-child(2n+1){
	background:var(--color-highlight);
}
.table-row:nth-child(2n) {
	background:var(--color-highlight-bis);
}


.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:uppercase;
}
.table-data span:not(:last-child):after {
	content: ", ";
}
span {
	content: ", ";
}