:root{
    --base-spacing-unit: 24px;
    --half-spacing-unit: var(--base-spacing-unit) / 2;
    --color-highlight: #f9f9f9;
	--color-highlight-bis: #d3d3d3;
	--color-dark:#252330;

}
*, *:before, *:after {
	box-sizing:border-box;
    
}

body {
	padding:var(--base-spacing-unit);
	font-family:'Source Sans Pro', sans-serif;
	margin:0;
}

.container {
	max-width: 90vw;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	
}

.table {
	width:100%;
	border:1px solid var(--color-highlight);
}

.table-header {
	display:flex;
	width:100%;
	background:var(--color-dark);
	padding:(var(--half-spacing-unit) * 1.5) 0;
	color: var(--color-highlight);

}

.table-row {
	display:flex;
	width:100%;
	padding:(var(--half-spacing-unit) * 1.5) 0;
	
}
.table-row:nth-child(2n+1){
	background:var(--color-highlight);
}
.table-row:nth-child(2n) {
	background:var(--color-highlight-bis);
}


.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:uppercase;
}
.titlePrj{
	font-size: 32pt;
	color: var(--color-dark);
	padding:16px;
	font-weight:bold;
	-moz-box-shadow: 2px 2px 6px #888;  
	-webkit-box-shadow: 2px 2px 6px #888;  
	box-shadow:2px 2px 6px #888;  
	text-align:center;
	display:block;
	margin:16px;
}
.boxVrs{
  -moz-box-shadow: 2px 2px 6px #888;  
  -webkit-box-shadow: 2px 2px 6px #888;  
  box-shadow:2px 2px 6px #888;  
  text-align:center;
  display:block;
  margin:16px;
}
.timeStamp{
	font-weight:lighter;
	font-size: 18;
}